{% extends "../layout.html" %}

{% block content %}

<form method='post' action='/member/join' target='ifrm_hidden' autocomplete="off" class='member_join_form'>
	<div class='join_title'>관리자 등록</div>
	<div class='links'>
		<a href="/member/login">관리자 로그인 페이지로</a>
	</div>
	<dl>
		<dt>아이디</dt>
		<dd>
			<input type='text' name='memId'>
		</dd>
	</dl>
	<dl>
		<dt>비밀번호</dt>
		<dd>
			<input type='password' name='memPw'>
		</dd>
	</dl>
	<input type='submit' value='관리자 등록 요청하기' class='btn1'>
</form>

{% endblock %}